<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />



    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AllUFMGAndroidExercicesInKotlin"
        tools:targetApi="31">
        <activity
            android:name=".e06.data_percistence.files.FilesActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".e05.broadcast_receivers.BroadcastReceiversActivity"
            android:exported="false" />
        <activity
            android:name=".e05.intents.IntentsCustomizadasActivity"
            android:exported="false" />
        <activity
            android:name=".e05.intents.IntentsNativasActivity"
            android:exported="false" />
        <activity
            android:name=".e04.background_tasks.MainActivityE04BackgroundTasks"
            android:exported="false" />
        <activity
            android:name=".e04.menu_and_navigation.MainActivityE04ActionBar"
            android:exported="false" />
        <activity
            android:name=".e04.menu_and_navigation.ThirdActivity"
            android:exported="false"
            android:parentActivityName=".e04.menu_and_navigation.MainActivityE04ActionBar"
            android:theme="@style/AppThemeWithActionBar" />
        <activity
            android:name=".e04.menu_and_navigation.SecondActivity"
            android:exported="false"
            android:parentActivityName=".e04.menu_and_navigation.MainActivityE04ActionBar"
            android:theme="@style/AppThemeWithActionBar" />
        <activity
            android:name=".e03.fragments.MainActivityE03Fragments"
            android:exported="false" />
        <activity
            android:name=".e03.layout_and_adapter.MainActivityE03Adapter"
            android:exported="false" />
        <activity
            android:name=".e06.rest_services.RestServicesActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".e02.E02LoginActivity"
            android:exported="false" />
        <activity
            android:name=".e03.layouts_and_widgets.SplashActivity"
            android:exported="false" />
        <activity
            android:name=".e03.layouts_and_widgets.WeatherActivity"
            android:exported="false" />
        <activity
            android:name=".e03.layouts_and_widgets.NewsActivity"
            android:exported="false" />
        <activity
            android:name=".e03.layouts_and_widgets.FormActivity"
            android:exported="false" />
        <activity
            android:name=".e02.E02Activity"
            android:exported="false" />
        <activity
            android:name=".e02.DebugActivity"
            android:exported="false" />
        <activity
            android:name=".e03.layouts_and_widgets.MainActivityE03"
            android:exported="false" />
    </application>

</manifest>